body {
  display: flex;
  justify-content: center;

  .container-home {
    width: 80%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-section {
      min-width: 80%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;


      header {
        color: orange;
      }

      .nav-bar-top {
        width: 50%;
        display: flex;
        justify-content: space-around;
        
        a {
          text-decoration: none;
          color: green;
        }
      }
    }

    .home-main-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      min-height: 30vh;

      img {
        min-width: 500px;
        max-height: 300px;
      }

      .home-main-top-content {
        box-sizing: border-box;
        padding-left: 10px;
        padding-top: 6%;
        max-width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
          font-size: 2.6rem;
          width: 200px;
          position: relative;
          right: 60px;
          bottom: 3px;
        }
      }
    }

    .home-main-mid {
      padding-top: 2vh;
      width: 100%;
    }
  }
}