@keyframes slidingText {
  0% {left: -1%;}
  50% {left: 1%;}
  100% {left: -1%;}
}

@keyframes clickSelector {
  0% {
    color: white;
    position: relative;
    bottom: 2px;
  }

  100% {
    color: @dark-green;
    position: relative;
    bottom: -1px;
  }
}

body {
  display: flex;
  justify-content: center;
  background-color: @heavy-dark;

  .container-home {
    width: 80%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media @mobile {
      width: 100%;
    }

    .header-section {
      min-width: 80%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.5vh 0vh 2vh 0vh;

      @media @tablet {
        display: flex;
        flex-flow: column;
        min-height: 100px;
        justify-content: space-around;
      }


      header {
        min-height: 40px;
        padding: 0px 10px 0px 10px;
        border-radius: 10px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        background-color: @medium-dark;
        animation-name: slidingText;
        animation-iteration-count: infinite;
        animation-duration: 2s;

        a {
          color: @dark-green;
          text-decoration: none;
        }
      }

      .nav-bar-top {
        min-width: 65%;
        font-size: 1.8rem;
        padding: 10px 30px;
        border-radius: 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: @medium-dark;

        a {
          text-decoration: none;
          color: @dark-green;
          padding: 0px 20px;

          @media @tablet {
            padding: 0px 10px;
          }

          @media @mobile {
            padding: 0px 9px;
          }
        }

        @media @tablet {
          min-width: 70%;
        }

        @media @mobile {
          min-width: 100%;
        }
        
        a:hover {
          animation-name: clickSelector;
          animation-duration: .8s;
        }
      }
    }

    .home-main-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      min-height: 30vh;

      @media @tablet {
        flex-direction: column;
        align-items: center;
        min-width: 70%;
      }

      img {
        min-width: 500px;
        max-height: 300px;

        @media @mobile {
          padding-bottom: 4vh;
        }
      }

      .home-main-top-content {
        box-sizing: border-box;
        padding-left: 10px;
        padding-top: 6%;
        max-width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: @light-dark;

        @media @tablet {
          min-width: 80%;
          position: relative;
          bottom: 20px;
        }

        h3{
          font-size: 2.6rem;
          width: 200px;
          bottom: 3px;
          display: flex;
          justify-content: center;
          color: white;
        }
      }
    }

    .home-main-mid {
      padding-top: 4vh;
      width: 100%;
      color: @light-dark;

      h4 {
        color: white;
      }

      @media @tablet {
        max-width: 80%;
        width: 100%;
        text-align: center;
      }
    }
  }

  .home-main-bot {
    margin-top: 4vh;
    color: @light-dark;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    color: white;

    @media @tablet {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    .on-board-img {
      
      img {
        width: 80%;

        @media @tablet {
          width: 100%;
          margin-bottom: 4vh;
        }
      }
    }

    .on-board-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      h2 {
        width: 75%;

        @media @tablet {
          width: 100%;
        }
      }

      .on-board-info {
        display: flex;
        flex-direction: column;
        width: 60%;

        h5 {
          color: @light-dark;
          padding-bottom: 5px;
          padding-top: 7px;
        }

        input {
          min-width: 100%;
        }

        .btn-parent {
          display: flex;
          justify-content: center;

          .on-board-submit {
            margin-top: 10px; 
            width: 40%;
            font-size: 1.4rem;
            border-radius: 20px;
            background-color: @light-dark;
            border-color: @light-dark;
          }
        }
      }
    }
  }

  footer {
    font-size: 1.6rem;
    display: flex;
    padding: 90px 0px 30px 0px;
    color: @medium-dark;
    width: 100%;
    justify-content: center;
  }
}